@import '~antd/dist/antd.css';
.upload_csv_parent{
    
    width: 100%;
    text-align: center;
    height: 100vh;
    
    background: rgb(224,223,255);
background: linear-gradient(90deg, rgba(224,223,255,1) 24%, rgba(255,255,255,1) 79%, rgba(255,255,255,1) 86%, rgba(255,255,255,1) 100%);
}
.csv_uploadpage{
    padding: 2% 0 0 0 ;
}
.csv_upload_head{
    height: 25rem;
    width: 100%;
    display: flex;
    
    justify-content: space-around;
    
}
.ant_csv_cont{
    height: 18rem;
    width: 18rem;
    margin: 4% 0 0 0;
    background: transparent;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}